<div class="about-page-container">

    <div class="contents-container">
        <div class="content-container">
            <label class="title">Your Success</label>
            <label class="details">
                We are here to ensure your success and the success of your business. 
                Our expatriate talents are fully experienced in the fields you need.
            </label>
        </div>
        
        <div class="content-container">
            <label class="title">Advantages</label>
            <label class="details">
                Asimont aims to assist our clients on procurement of human resources, 
                enabling them to create and sustain competitive advantages.
            </label>
        </div>
    
        <div class="content-container">
            <label class="title">Skills</label>
            <label class="details">
                Asimont deploys pools of specialized skills, 
                knowledge and experience professionals, 
                equipped with the highest quality of infrastructure, 
                to provide solutions in various technologies areas.
            </label>
        </div>
    
        <div class="content-container">
            <label class="title">Exlcusive Knowledge</label>
            <label class="details">
                Asimont is extensively experienced in expatriate talents in latest IT developments, 
                including ultra-quality interactive solutions, mission critical solutions and esports and games.
            </label>
        </div>
    </div>
</div>