<div class="services-page-container">
    <div class="top-container">
        <label>We are at your service</label>
        <button class="yellow-btn" (click)="goTo('contact-section')">Contact us</button>
    </div>
    <div class="detailed-container">
        <label class="label-content-title">Our Solutions</label>
        <label class="label-content-detail">
            The Tech industry is ever evolving and we tailor our solutions to the 
            growing needs of our customers in a  a worldwide ever-changing environment
        </label>

        <div class="professionals-container">

            <div class="professional-container">
                <img class="p1-img">
                <div class="detail-container">
                    <label class="label-title">IT Professionals</label>
                    <label class="label-detail">Understanding the delivery pipeline and optimizing your stack</label>
                </div>
            </div>

            <div class="professional-container">
                <img class="p2-img">
                <div class="detail-container">
                    <label class="label-title">Developers</label>
                    <label class="label-detail">Top performance and knowledge is key to keeping up in the changing landscape</label>
                </div>
            </div>

            <div class="professional-container">
                <img class="p3-img">
                <div class="detail-container">
                    <label class="label-title">Content Specialist</label>
                    <label class="label-detail">Knowing your customers and understanding their journey is key to success</label>
                </div>
            </div>

        </div>
    </div>
</div>