<div class="home-page-container bg-img">
    <div class="content-container">
        <label class="label-content-title">Professionals in talent delivery services</label>
        <label class="label-content-detail mb-1-5">We Deliver Your Mission Critical IT and Development Talents</label>
        <div class="button-container">
            <button class="yellow-btn" (click)="goTo('contact-section')">
                Contact Us
            </button>
            <button class="clear-btn" (click)="goTo('about-section')">
                Read More
            </button>
        </div>
    </div>
</div>